@{
    ViewBag.Title = "Yhteystiedot";
}
<head>
    <meta http-equiv="Refresh" content="15; url=https://localhost:44314" />
</head>

<main aria-labelledby="title">
    <h2> Sivustoa ylläpitää opiskelija etunimi sukunimi</h2>
    <h4> Ota yhteyttä sähköposti@sähköposti.com</h4>

    <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <p></p>
            <div class="table table-hover; row mb-1">
                <p></p>
                <p></p>
                <br />
                <br />
                <br />
            </div>
        </section>
    </main>