@{
    ViewBag.Title = "Yhteystiedot";
}
<head>
    <meta http-equiv="Refresh" content="15; url=https://localhost:44314" />
</head>

<main aria-labelledby="title">
    <h2> Ongelma tilanteissa ota yhteyttä </h2>
    <br />
    <br />
    <h4>Sivustoa ylläpitää: jani.pekkala@student.careeria.fi</h4>
    <br />
    <br />
    <section>
        <div>
            <br />
            <br />
            <br />
        </div>
    </section>
</main>