
@using System.Globalization
@{
    ViewBag.Title = "Session end";
}

<main>

    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">@ViewBag.LoggedOut</h1>
        <a class="btn btn-outline-primary" href="/Home/Login"> Takaisin kirjautumis sivulle</a>
    </section>
</main>