@using System.Globalization
@{
    ViewBag.Title = "Kotisivu";
}
<style>
    main {
        margin: 1px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    section {
        width: 100%;
        margin-bottom: 20px;
    }

    .right-section {
        width: 100%;
        float: none;
    }

        .right-section h5,
        .right-section img,
        .right-section p {
            text-align: center;
        }

    @@media (min-width: 768px) {
        section {
            width: 48%;
        }

        .right-section {
            width: 48%;
            float: right;
        }

            .right-section h5,
            .right-section img,
            .right-section p {
                text-align: right;
            }
    }
</style>

<body background="/Images/bgr1.jpeg">
    <main>

        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h1 style="font-family:'Times New Roman', Times, serif">TilausDB hallinta</h1>
            <p></p>
            <h3 style="margin-left:140px; font-family:'Times New Roman', Times, serif">Pikalinkit</h3>

            @if (Session["UserName"] == null)
            {
                <div class="table table-hover; row mb-1">
                    <a class="btn btn-primary" href="/Home/Login"> Kirjaudu </a>
                    <p></p>
                    <a class="btn btn-primary" href="/Tuotteetdb/CardIndex"> Esittelynäkymä </a>
                    <p></p>
                    <br />
                    <br />
                    <br />
                </div>
            }
            else
            {
        <div class="table table-hover; row mb-1">
            <a class="btn btn-primary" href="/Tuotteetdb/CardIndex">Esittelynäkymä </a>
            <p></p>
            <a class="btn btn-primary" href="/Asiakkaatdb/Index"> Asiakkaat </a>
            <p></p>
            <a class="btn btn-primary" href="/Asiakkaatdb/Create"> Lisää asiakas </a>
            <p></p>
            <a class="btn btn-primary" href="/Tuotteetdb/Index"> Tuotteet </a>
            <p></p>
            <a class="btn btn-primary" href="/Tuotteetdb/Create"> Lisää tuote </a>
            <p></p>
            <a class="btn btn-primary" href="/Tilauksetdb/Index"> Tilaukset </a>
        </div>
            }
        </section>

        <section>
            <h5>HUOLTO, NEUVONTA JA TUKI</h5>
            <a target="_blank" href="https://careeria.fi/asiakastyot/ict-alan-tyot-huolto-neuvonta-ja-tuki/">
                <img src="~/Images/Careera.png" alt="Careera.png" width="300" height="100" target="_blank">
            </a>
            <p><a style="height:50px; width:300px" class="btn btn-outline-info" href="/Home/About" target="_blank">Ylläpidon yhteystiedot</a></p>
        </section>

    </main>
</body>

