@model MVC_TKsovellus_1001.Models.Tuotteet

@{
    ViewBag.Title = "Details";
}

<h3>Tuotteet: Lisätiedot</h3>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>Nimi</dt>

        <dd>@Html.DisplayFor(model => model.Nimi)</dd>

        <dt>Hinta</dt>

        <dd>@Html.DisplayFor(model => model.Ahinta)</dd>

        <dt>Selite</dt>
        
        <dd style="font:200">@Html.DisplayFor(model => model.Lisätieto_1)</dd>

        <dt>Kuva</dt>

        <dd><img style="height: 200px; width: 200px; display: block;" src="@Model.Kuva" /><img /></dd>

    </dl>
</div>
<p>
    <a class="btn btn-primary btm-sm" href="~/Tuotteetdb/Index">Takaisin</a>
</p>
