@model MVC_TKsovellus_1001.Models.Logins
@{
    ViewBag.Title = "Poista käyttäjä";
}

<body>
    <h3>Poista käyttäjä ? </h3>
    <div>
        <hr />
        <div>
            <h5>Käyttäjä ID : @Model.LoginId</h5>
        </div>
        <dl class="dl-horizontal">
            <dt>Käyttäjätunnus</dt>

            <dd>@Html.DisplayFor(model => model.UserName)</dd>

            <dt>Salasana</dt>

            <dd>@Html.DisplayFor(model => model.PassWord)</dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <p></p>
            <div class="form-actions no-color">
                <input type="submit" value="Poista" class="btn btn-primary" />
                <a class="btn btn-primary btm-sm" href="javascript:void(0);" onclick="history.go(-1);">Takaisin</a>
            </div>
        }
    </div>
</body>
