@model MVC_TKsovellus_1001.Models.Logins
@{  
    ViewBag.Title = "Lisätiedot";
    string hallinta = "";
}
    <body>
        <div>
            <h4>Käyttäjät: Lisätiedot</h4>
            <hr />
            <div>
                <h5>Käyttäjä ID : @Model.LoginId</h5>
            </div>
            <dl class="dl-horizontal">
                <dt>
                    Käyttäjätunnus
                </dt>

                <dd>@Html.DisplayFor(model => model.UserName)</dd>

                <dt>Salasana</dt>

                <dd>@Html.DisplayFor(model => model.PassWord)</dd>

                <dt>Käyttäjien hallinta oikeus</dt>

                <dd>
                    @{if (Model.admin == 1)
                        {
                            hallinta = "Kyllä";
                        }
                        else
                        {
                            hallinta = "Ei";
                        }
                        @hallinta

                    }
                </dd>
            </dl>
        </div>
    <p></p>
        <a class="btn btn-primary btm-sm" href="javascript:void(0);" onclick="history.go(-1);">Takaisin</a>
    </body>