@model IEnumerable<MVC_TKsovellus_1001.Models.Logins>
@{
    ViewBag.Title = "Käyttäjät";
    int nro = 0;
}
<body>
    <p></p>
        <a class="btn btn-primary btm-sm" href="/Logins/Create">Lisää käyttäjä</a>
    <p></p>
    <table class="table">
        <tr>
            <th>Rivi nro:</th>
            
            <th>@Html.DisplayNameFor(model => model.UserName)</th>
        </tr>
    
    @foreach (var item in Model)
    {
        if (item.UserName == Session["UserName"].ToString()) //suodattaa nykyisen käyttäjän pois luettelosta.
            {
                continue;
            }
        <tr>
            <td>@{ nro += 1;} @nro</td>

            <td>@Html.DisplayFor(modelItem => item.UserName)</td>

            <td>
                <a class="btn btn-primary btm-sm" href="/Logins/Edit?id=@item.LoginId">Muokkaa</a>
                <a class="btn btn-info btm-sm" href="/Logins/Details?id=@item.LoginId">Lisätiedot</a>
                <a class="btn btn-danger btm-sm" href="/Logins/Delete?id=@item.LoginId">Poista</a>
            </td>
        </tr>
    }
    </table>
</body>
