@model MVC_TKsovellus_1001.Models.Logins
@using System.Globalization
@{
    ViewBag.Title = "Pahoittelut..";
}

<head>
    <meta http-equiv="Refresh" content="5; url=https://localhost:44314" />
</head>
<main>
    <section aria-labelledby="title">


        <h3>Valitettavasti sinulla ei ole pääsyä tänne: Käyttäjän hallinta oikeus puuttuu.</h3>
        <h5>Takaisin ohjaus etusivulle..</h5>
        <p></p>

        <hr />

        <div class="table table-hover; col-md-6">
            <p>Ellei uudeellen ohjaus toimi, voit siirtyä tämän linkin kautta</p>
            <p></p>
            <a class="btn btn-primary" href="/Home/Index"> Etusivulle </a>
            <p></p>
            <br />
            <br />
            <hr />

        </div>

    </section>


</main>