@model IEnumerable<MVC_TKsovellus_1001.Models.Tilaukset>


@{

}

<p>
    <a class="btn btn-primary btm-sm" href="/Tilauksetdb/Create">Lisää tilaus</a>
</p>
<table class="table">
    <tr>
        <th>
            Tilausnumero
        </th>
        <th>
            Tilauspvm
        </th>
        <th>
            Toimituspvm
        </th>
        <th>
            Tilauksen hinta
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TilausID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tilauspvm)
            </td>
            <th>
                Tilauksen hinta
            </th>
            <td>
                <a class="btn btn-primary btm-sm" href="/Tilauksetdb/Edit?id=@item.TilausID">Muokkaa</a>
                <a class="btn btn-info btm-sm" href="/Tilauksetdb/Details?id=@item.TilausID">Lisätiedot</a>
                <a class="btn btn-danger btm-sm" href="/Tilauksetdb/Delete?id=@item.TilausID">Poista</a>
            </td>
        </tr>
    }

</table>

